<h1>New vimrc</h1>

<form id="new-vimrc" name="vimrc">
  <div class="field">
    <label for="vote_count"> vote_count:</label>
    <input type="text" name="vote_count" id="vote_count" value=<%= vote_count %> >
  </div>

  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value=<%= url %> >
  </div>

  <div class="field">
    <label for="username"> username:</label>
    <input type="text" name="username" id="username" value=<%= username %> >
  </div>

  <div class="field">
    <label for="homepage"> homepage:</label>
    <input type="text" name="homepage" id="homepage" value=<%= homepage %> >
  </div>

  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value=<%= name %> >
  </div>

  <div class="field">
    <label for="description"> description:</label>
    <input type="text" name="description" id="description" value=<%= description %> >
  </div>

  <div class="field">
    <label for="watchers"> watchers:</label>
    <input type="text" name="watchers" id="watchers" value=<%= watchers %> >
  </div>

  <div class="field">
    <label for="followers"> followers:</label>
    <input type="text" name="followers" id="followers" value=<%= followers %> >
  </div>

  <div class="field">
    <label for="forks"> forks:</label>
    <input type="text" name="forks" id="forks" value=<%= forks %> >
  </div>

  <div class="field">
    <label for="repos_created_at"> repos_created_at:</label>
    <input type="text" name="repos_created_at" id="repos_created_at" value=<%= repos_created_at %> >
  </div>

  <div class="field">
    <label for="repos_pushed_at"> repos_pushed_at:</label>
    <input type="text" name="repos_pushed_at" id="repos_pushed_at" value=<%= repos_pushed_at %> >
  </div>

  <div class="actions">
    <input type="submit" value="Create Vimrc" />
  </div>

</form>

<a href="#/index">Back</a>