<p>
  <b>Vote count:</b>
  <%= vote_count %>
</p>

<p>
  <b>Url:</b>
  <%= url %>
</p>

<p>
  <b>Username:</b>
  <%= username %>
</p>

<p>
  <b>Homepage:</b>
  <%= homepage %>
</p>

<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Description:</b>
  <%= description %>
</p>

<p>
  <b>Watchers:</b>
  <%= watchers %>
</p>

<p>
  <b>Followers:</b>
  <%= followers %>
</p>

<p>
  <b>Forks:</b>
  <%= forks %>
</p>

<p>
  <b>Repos created at:</b>
  <%= repos_created_at %>
</p>

<p>
  <b>Repos pushed at:</b>
  <%= repos_pushed_at %>
</p>


<a href="#/index">Back</a>