<td><%= vote_count %></td>
<td><%= url %></td>
<td><%= username %></td>
<td><%= homepage %></td>
<td><%= name %></td>
<td><%= description %></td>
<td><%= watchers %></td>
<td><%= followers %></td>
<td><%= forks %></td>
<td><%= repos_created_at %></td>
<td><%= repos_pushed_at %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>