!!!
%html
  %head
    %title best vimrc
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .content
        - if flash[:notice]
          .alert-message.info.fade.in{"data-alert" => "alert"}
            %a.close{:href => "#"}x
            %p= flash[:notice]
        .row
          .span10
            -# %h1
              -# %a{:href => "/"}
                -# best vimrc
                -# %small
                  -# voting the best vimrc
            %h1
              = link_to(image_tag("logo-bestvimrc.png"), "/")
          .span4{:style => "text-align:right; border: 0"}
            - if current_user
              = image_tag current_user.profile_image, :size => "32x32"
              = link_to "sign out", signout_path
            - else
              = link_to(image_tag("social-connect.png"), "/auth/twitter")
        %ul.tabs
          %li#score.active
            %a{:href => "#"}
              score
          %li#pushed-at
            %a{:href => "#/index/pushed-at"}
              pushed at

        = yield

    #unauthorized-dialog{:title => "HOW TO VOTE THIS VIMRC?", :style => "display: none;"}
      %p You need sign in with twitter before vote this vimrc.

    #onlyonetime-dialog{:title => "YOU CAN VOTE 1 TIME EACH VIMRC", :style => "display: none;"}
      %p Sorry, you can vote 1 time each vimrc.

    #unprocessed-dialog{:title => "SOMETHING HAPPEN...", :style => "display: none;"}
      %p OMG, something is happening now.
